
{% load static %}

{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Search Dishes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'searchapp/main.css' %}">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h1 class="card-title text-center mb-4">Search for a Dish</h1>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.query|as_crispy_field }}
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="mt-5">
                    <h2 class="text-center">Search Results</h2>
                    <ul class="list-group">
                        {% for result in results %}
                            <li class="list-group-item">{{ result }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
